.contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 26px 0px 26px;
}

.contacts__title {
  margin-top: 32px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0px 24px 0px;
  gap: 24px;
}

.contacts__card {
  width: 50%;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 4px;
}

.social-media__logo {
  width: 32px;
  height: 32px;
}

.contacts__disclaimer {
  padding: 0px 48px 0px 48px;
  line-height: 12px;
}

@media screen and (max-width: 400px) {
  .social-media__logo {
    width: 24px;
    height: 24px;
  }

  .contacts__disclaimer {
    padding: 0px 12px 0px 12px;
  }
}
